In [ ]:
print("Welcome to ExcelR!")

Welcome to ExcelR!

In [ ]:
"hello"

'hello'

In [ ]:
120/12*2-4

16.0

In [ ]:
(5-2)*10

30

In [ ]:
marks=80
marks

80

In [ ]:
type(marks)

int

In [ ]:
5**4

625

In [ ]:
price=50.5
price # only shows output of last line
type(price)

float

In [ ]:
price=50.5
print(price) # to see intermediate line's output use print() function
type(price)

50.5

float

In [ ]:
name="Snehal"
type(name)

str

In [ ]:
dir(str) # all methods that can be applied on strings
# __ dunder/magic methods (double underscore methods which python uses internally)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
str1="welcome to Data Science."
str1.capitalize()

'Welcome to data science.'

In [ ]:
str1.upper()

'WELCOME TO DATA SCIENCE.'

In [ ]:
str1.lower()

'welcome to data science.'

In [ ]:
str1.title()

'Welcome To Data Science.'

In [ ]:
food="bIrYAni"
name="sNEHAL"
print(food.swapcase())
name.swapcase()

BiRyaNI

'Snehal'

In [ ]:
s1="My name is Snehal."
print(s1.split()) # list of strings is created
s2="Mumbai-Pune-Mumbai"
s2.split("-")

['My', 'name', 'is', 'Snehal.']

['Mumbai', 'Pune', 'Mumbai']

In [ ]:
mail="snehal@excelr.com"
mail.split("@")

['snehal', 'excelr.com']

In [ ]:
s1.replace("Snehal","Jyoti")

'My name is Jyoti.'

In [ ]:
# single line comment
'''
multiline comment 
'''

'\nmultiline comment \n'

In [ ]:
city="Satara"
city.count("a")

3

In [ ]:
"Satara".count("a")

3

In [ ]:
name="Raj"
name*4

'RajRajRajRaj'

In [ ]:
n1=5
n1*5

25

In [ ]:
name="Rajesh"
surname="Kulkarni"
name + surname # concatenates without space

'RajeshKulkarni'

In [ ]:
name + " " +surname

'Rajesh Kulkarni'

In [ ]:
# Conditional Statement
a=30
b=20
if(a>b):
  print("a is greater")
else:
  print('b is greater')

b is greater

In [ ]:
a=20
b=30
if(a>b):
  print(a,"is greater")
else:
  print("Greatest number is:",b)

Greatest number is: 30

In [ ]:
salary=35000
if (salary>20000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("Hello from false if / else")
print("Bye... outside of if block")
net_sal=salary-tax*salary
print(net_sal)  
# change value of salary as 15000 and execute again

Hello from true if
Bye... outside of if block
26250.0

In [ ]:
range(5,10)

range(5, 10)

In [ ]:
# For Loop
for number in range(5,10): # Print numbers from 5 to 9. Default increment is 1.
  print(number)

5
6
7
8
9

In [ ]:
# print numbers 1 to 10


for i in range(1,11,1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Q1. print all even numbers from 1 to 20
# Q2. print all odd numbers from 1 to 20

In [ ]:
# 'break' statement terminates the loop when condition is satisfied
for i in range(1,11):
    if i==5:
       #print("Same")
       break
    else:
        print(i)

In [ ]:
for num in range(11): # 0 to 9 
  print(num, num*num) # num and its square

In [ ]:
# range(start,stop,step)
for i in range(1,30,5):
  # print(i)
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [ ]:
subject="Science"
for letter in subject:
  print(letter)

S
c
i
e
n
c
e

In [ ]:
# print name 3 times on first line, 4 times on 2nd, 5 - 3rd, 6 - 4th line. Range(3,7)

name="Snehal"
for value in range(3,7):
  print(name*value)

SnehalSnehalSnehal
SnehalSnehalSnehalSnehal
SnehalSnehalSnehalSnehalSnehal
SnehalSnehalSnehalSnehalSnehalSnehal

In [ ]:
# print each letter of movie on separate line
# change case of each letter (upper to small and small to upper) of movie on single line with seperator ~
movie="Drishyam"
for letter in movie:
  #print(letter)
  #print(letter.swapcase())
  print(letter.swapcase(),end=" # ") #try upper(), lower(),"-","#",etc. Default end parameter is 'new line'

d # R # I # S # H # Y # A # M #

In [ ]:
# Print all even and odd numbers between given range using For Loop
for i in range(1, 11):
    if i % 2 == 0:
        print('Even Number:', i)
    else:
        print('Odd Number:', i)

In [ ]:
# Print all even and odd numbers between given range using For Loop
print('Even Numbers:')
for i in range(1, 11):
  if i % 2 == 0:
    print(i)
    
print('Odd Numbers:')
for i in range(1,11):
  if i%2!=0: # != not equal to
    print(i)

In [ ]:
status1=True
type(status1)
status2=False
type(status2)

bool

In [ ]:
# print each letter 4 times with separator as space
for letter in "Data Science":
  print(letter*4,end=" ")

DDDD aaaa tttt aaaa      SSSS cccc iiii eeee nnnn cccc eeee

In [ ]:
len("My name")

7

In [ ]:
len("Snehal")

6

In [ ]:
# Data Structure: 1.LIST
# Lists are mutable.
# created using square brackets []
marks=[40,55,70,60,80,85,78]
marks

[40, 55, 70, 60, 80, 85, 78]

In [ ]:
type(marks)

list

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
len(marks)

7

In [ ]:
new_marks=sorted(marks) # creates new sorted list. Original marks list remains unchanged
new_marks

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
marks

[40, 55, 70, 60, 80, 85, 78]

In [ ]:
marks.sort() # original list is sorted in ascending order by default
marks

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
marks.append(35)
marks

[40, 55, 60, 70, 78, 80, 85, 35]

In [ ]:
marks.reverse()

In [ ]:
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [ ]:
marks2=[42,64,50,78,87,80]

In [ ]:
marks2.sort(reverse=True) # sorts in descending order when reverse=True
marks2

[87, 80, 78, 64, 50, 42]

In [ ]:
marks3=[40,60,50,70,80,85]
marks3.sort(reverse=False)

In [ ]:
marks3

[40, 50, 60, 70, 80, 85]

In [ ]:
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [ ]:
90 in marks # checks whether 90 is present in list or not. IF yes returns True, else False

False

In [ ]:
85 in marks

True

In [ ]:
list1=[10,20,30]
list2=[40,50,60]
list1 + list2 # concatenation of two lists

[10, 20, 30, 40, 50, 60]

In [ ]:
(list1+list2)*3 # repeats 3 times

[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [2]:
# List of Strings
list3=["Mango","Apple","Banana","Pineapple","Custard Apple","Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
# Display fruits by changing case of all fruits to uppercase
for fruit in list3:
  #print(fruit.upper()) # in sigle line: print(fruit.upper(),end=" ")
  #print(fruit.upper(),end=" ")
   print(fruit.replace("a","u"), end=" ")

Mungo Apple Bununu Pineupple Custurd Apple Struwberry

In [ ]:
# In Python Indexing starts with 0
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[0]

'Mango'

In [ ]:
list3.count("Banana")

1

In [ ]:
list3[6] # raise erro as index is upto 5 only (0 to 5)

In [ ]:
list3[5]

'Strawberry'

In [ ]:
# Slicing
list3[0:4] # 0,1,2,3

['Mango', 'Apple', 'Banana', 'Pineapple']

In [ ]:
# from Apple to Strawberry i.e. till end
list3[1:]

['Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
# from beginning to Pinaapple
list3[:4]

['Mango', 'Apple', 'Banana', 'Pineapple']

In [ ]:
# Negative indexing: -1 refers to last element
list3[-1]

'Strawberry'

In [ ]:
list3[-3]

'Pineapple'

In [ ]:
list3[-6]

'Mango'

In [ ]:
# start stop step in slicing
print(list3)
list3[::2] # 0,2,4,6

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

['Mango', 'Banana', 'Custard Apple']

In [ ]:
n1=[1:31] # to create list of 1 to 30 - will raise error

SyntaxError: ignored

In [ ]:
n1=list(range(1,31))
print(n1,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [ ]:
# print nos from index 2 to 26 with step value of 5
n1[2:26:5]

[3, 8, 13, 18, 23]

In [ ]:
print(list3, end=" ")

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[::-1]

['Strawberry', 'Custard Apple', 'Pineapple', 'Banana', 'Apple', 'Mango']

In [ ]:
list3[::-2] # step value is -2

['Strawberry', 'Pineapple', 'Apple']

In [ ]:
# use of 'in' keyword: search substring in given word
'the' in 'Netherland'

True

In [ ]:
'The' in 'Netherland'

False

In [ ]:
'therer' in 'Netherland'

False

In [ ]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3.append("Mulberry")

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [ ]:
# display fruits which contain substring as 'berry' using for loop
for fruit in list3:
  if 'berry' in fruit:
    print(fruit)

Strawberry
Mulberry

In [ ]:
# display fruits which contain substring as 'pple' using for loop
for fruit in list3:
  if 'pple' in fruit:
    print(fruit)

Apple
Pineapple
Custard Apple

In [ ]:
list3.append("Black berry")

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Black berry']

In [ ]:
# Create list4 of fruits from list3 having only 'berry' as substring and store remaining fruits in list5
list4=[]
list5=[]
for fruit in list3:
  if 'berry' in fruit:
    list4.append(fruit)
  else:
    list5.append(fruit)   
print(list4,end=" ")
print(list5,end=" ")

['Strawberry', 'Mulberry', 'Black berry'] ['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [ ]:
# print squares of all numbers of list1 to list2
l1=[2,3,4,5,6]
l2=[]
for i in l1:
  l2.append(i**2)
print(l1,end=" ")  
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [1]:
# List comprehension - makes your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1,end=" ") 
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [4]:
list3
list3.append("Black berry")

In [5]:
# extract fruit names containing substring 'berry' using List comprehension
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [6]:
newlist=[fruit for fruit in list3 if 'berry' in fruit]

In [7]:
print(newlist, end=" ")

['Strawberry', 'Black berry']

In [8]:
newlist1=[fruit for fruit in list3 if 'berry' not in fruit]

In [9]:
newlist1

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [10]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [12]:
list3.index('Mango')

0

In [13]:
list3.index('Black berry')

6

In [ ]:
list3.index('Orange') # will raise error as item is not present in the list

In [15]:
# index 2 item was banana which is replaced by Orange
# Lists are mutable - you can replace items of list
list3[2]="Orange"
list3

['Mango',
 'Apple',
 'Orange',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [16]:
# Data Structure: 2.TUPLE
# Tuples are not mutable i.e. immutable
# created using round brackets ()
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [17]:
type(t1)

tuple

In [18]:
t1[0]

1

In [ ]:
t1[0]=7

In [ ]:
dir(t1)

In [21]:
t1.count(1)

1

In [25]:
t1.index(4)

3

In [23]:
t2=(1,1,1,2,2,6,6,6,6,6)

In [24]:
t2.count(6)

5

In [26]:
# indexing and slicing with tuple is same as list
# extracting elements of tuple
t1[2]

3

In [27]:
t1

(1, 2, 3, 4, 5)

In [28]:
t1[1:5]

(2, 3, 4, 5)

In [30]:
# Data Structure: 3.Dictionary
# Dictionaries are used to store data values in key:value pairs.
# A dictionary is a collection which is ordered, changeable and do not allow duplicates.
# Dictionaries are written with curly brackets, and have keys and values. 
# Here, keys are unique identifiers that are associated with each value.:

capital_dict={"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
print(capital_dict)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [31]:
type(capital_dict)

dict

In [37]:
dir(capital_dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [33]:
# access element of dictionary
capital_dict["England"]

'London'

In [35]:
# keys() method extracts the keys of the dictionary and returns the list of keys as a view object.
keys=capital_dict.keys()
keys

dict_keys(['Nepal', 'Italy', 'England'])

In [36]:
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [ ]:
# The values() method returns a view object that displays a list of all the values in the dictionary.
values=capital_dict.values()
values

dict_values(['Kathmandu', 'Rome', 'London'])

In [ ]:
# The items() method returns a view object that displays a list of dictionary's (key, value) tuple pairs.
items=capital_dict.items()
items

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])

In [40]:
# The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.
add_capital={"India": "New Delhi","abc":"xyz"}
capital_dict.update(add_capital)

In [41]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [44]:
capital_dict.update({"Australia":"Sydney"}) # capital of Australia is Canberra
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Sydney'}

In [ ]:
# The pop() method removes and returns an element from a dictionary having the given key.
capital_dict.pop("Australia")

In [52]:
capital_dict['abc']=("Mumbai")

In [55]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai'}

In [56]:
capital_dict.popitem()

('abc', 'Mumbai')

In [57]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [58]:
# Keys can be of different data type
mylist=["Mango","Orange","Strawberry","Banana","Mulberry","Black berry"]

In [59]:
mytuple=(20,53,45,78,89,65,97)

In [61]:
mydict={"A":mylist,
        "B":mytuple,
        "C":capital_dict
       }
mydict

{'A': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'B': (20, 53, 45, 78, 89, 65, 97),
 'C': {'Nepal': 'Kathmandu',
  'Italy': 'Rome',
  'England': 'London',
  'India': 'New Delhi'}}

In [62]:
mydict['A']

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry']

In [63]:
mydict['C']

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [64]:
mydict['A'][3] #index 0 1 2 3, 3rd element = banana

'Banana'

In [65]:
mydict['C']['India']

'New Delhi'

In [ ]:
# Math functions: can import specific functions or all using *
sqrt(25) # raise error as you have not imported

In [67]:
from math import sqrt
sqrt(25)

5.0

In [68]:
factorial(5)

NameError: ignored

In [69]:
from math import factorial
factorial(5)

120

In [ ]:
sin(90)

In [70]:
from math import sin,cos,tan

In [ ]:
tan(45)

1.6197751905438615

In [75]:
from math import *
l2=[5,2]
prod(l2)

10

In [72]:
# OR you can say 'import math'
# But while calling any function you have to use math.Function_Name()
# The math.prod() method returns the product of the elements from the given iterable.
import math # or 'import math as mt', mt.sqrt(64 )
sequence = (2, 2,5,6) # iterable where elements are given
print(math.prod(sequence))

120

In [73]:
import math
l1=[2,3,4]
math.prod(l1)

24

In [76]:
dir(math) # all functions of math library

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']